@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

body,
header {
  width: 1440px;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

nav {
  margin: 50px auto;
  width: 1150px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: #3a3a3a;
  font-size: 18px;
}

.nav-link:hover {
  color: #000;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--Linear, linear-gradient(270deg, #f00 0%, #ff8938 100%));
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button {
  width: 150px;
  height: 64px;
  border: none;
  border-radius: 10px;
  background: var(--Linear, linear-gradient(270deg, #f00 0%, #ff8938 100%));
}

button a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.hero-container {
  display: flex;
  margin: 50px auto;
  width: 1150px;
}

.hero-left-element h1 {
  margin-top: 0;
  font-size: 80px;
  line-height: 1.2;
  width: 600px;
  margin-bottom: 0;
}

.hero-left-p {
  font-size: 18px;
  color: #777777;
}

.hero-button {
  margin-right: 50px;
  width: 200px;
  height: 64px;
  border: none;
  border-radius: 10px;
  background: var(--Linear, linear-gradient(270deg, #f00 0%, #ff8938 100%));
}

.hero-button a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.hero-button img {
  margin-left: 5px;
}

.hero-right-element {
  margin: 50px 0 0 13px;
  display: flex;
  justify-content: flex-start;
  align-items: self-end;
}

.position {
  position: absolute;
}

.rating-box {
  display: flex;
  margin: 0 0 40px 40px;
  width: 255px;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 100px rgba(51, 51, 51, 0.3);
}

.rating-box img {
  width: 48px;
  margin: 27px 0 27px 20px;
}

.rating-box div {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.rating-box .number {
  font-size: 30px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  margin-top: 19px;
}

.rating-box .paragraph {
  color: #777;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

/* product section */
#products {
  margin-top: 50px;
}

.product-title h2 {
  font-size: 45px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.product-title p {
  margin: auto;
  font-size: 18px;
  text-align: center;
  width: 900px;
  color: #777777;
}

.products-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 390px;
  border-radius: 10px;
  background: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
}

.product-container:hover {
  box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.product-container img {
  width: 135px;
}

.product-container h3 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 5px;
}

.product-container p {
  color: #777777;
  margin: 0;
  font-size: 16px;
  text-align: center;
  width: 208px;
}

/* responsive */

@media only screen and (max-width: 1024px) {
  body,
  header {
    width: auto;
  }

  nav {
    width: 850px;
  }

  .nav-link-container {
    width: 470px;
  }

  .nav-link {
    font-size: 16px;
  }

  button {
    width: 100px;
    height: 44px;
    margin-right: 50px;
  }

  button a {
    font-size: 18px;
  }

  .logo {
    height: 50px;
  }

  .hero-container {
    display: flex;
    margin: 50px auto;
    width: 850px;
  }

  .hero-left-element h1 {
    margin-top: 0;
    font-size: 55px;
    line-height: 1.2;
    width: 400px;
    margin-bottom: 0;
  }

  .hero-left-p {
    font-size: 16px;
  }

  .hero-button {
    width: 160px;
    height: 56px;
  }

  .hero-button img {
    height: 13px;
  }

  .hero-button a {
    font-size: 16px;
  }

  .hero-right-element {
    margin: 40px 0 0 13px;
  }

  .hero-right-element .banner-img {
    width: 480px;
  }

  .rating-box {
    width: 200px;
    height: 80px;
  }

  .rating-box img {
    width: 35px;
    margin: 27px 0 27px 10px;
  }

  .rating-box div {
    margin-left: 10px;
  }

  .rating-box .number {
    font-size: 22px;
    margin-top: 16px;
  }

  .rating-box .paragraph {
    font-size: 14px;
  }

  /* product section */
  #products {
    margin-top: 50px;
  }

  .product-title h2 {
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
  }

  .product-title p {
    margin: auto;
    font-size: 14px;
    text-align: center;
    width: 900px;
    color: #777777;
  }

  .products-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 360px;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      #f4f4f4 0%,
      rgba(244, 244, 244, 0) 100%
    );
  }

  .product-container:hover {
    box-shadow: 4px 4px 20px rgba(51, 51, 51, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }

  .product-container img {
    width: 120px;
  }

  .product-container h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .product-container p {
    color: #777777;
    margin: 0;
    font-size: 13px;
    text-align: center;
    width: 208px;
  }
}
@media only screen and (max-width: 768px) {
  body,
  header {
    width: auto;
  }

  nav {
    width: 650px;
  }

  .nav-link-container {
    width: 370px;
  }

  .nav-link {
    font-size: 13px;
  }

  button {
    width: 80px;
    height: 36px;
    border-radius: 7px;
  }

  button a {
    font-size: 15px;
  }

  .logo {
    height: 36px;
  }

  .hero-container {
    display: flex;
    margin: 50px auto;
    width: 650px;
  }

  .hero-left-element h1 {
    margin-top: 0;
    font-size: 40px;
    line-height: 1.2;
    width: 300px;
    margin-bottom: 0;
  }

  .hero-left-p {
    font-size: 11px;
  }

  .hero-button {
    width: 120px;
    height: 40px;
    border-radius: 6px;
  }

  .hero-button img {
    height: 8px;
    margin-left: 3px;
  }

  .hero-button a {
    font-size: 12px;
  }

  .hero-right-element {
    margin: 25px 0 0 5px;
  }

  .hero-right-element .banner-img {
    width: 370px;
  }

  .rating-box {
    width: 150px;
    height: 60px;
    border-radius: 6px;
  }

  .rating-box img {
    width: 25px;
    margin: 10px 0 10px 10px;
  }

  .rating-box div {
    margin-left: 10px;
  }

  .rating-box .number {
    font-size: 16px;
    margin-top: 10px;
  }

  .rating-box .paragraph {
    font-size: 10.5px;
  }

  /* product section */
  #products {
    margin-top: 50px;
  }

  .product-title h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
  }

  .product-title p {
    margin: auto;
    font-size: 12px;
    text-align: center;
    width: 600px;
    color: #777777;
  }

  .products-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 340px;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      #f4f4f4 0%,
      rgba(244, 244, 244, 0) 100%
    );
  }

  .product-container:hover {
    box-shadow: 4px 4px 20px rgba(51, 51, 51, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }

  .product-container img {
    width: 100px;
  }

  .product-container h3 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .product-container p {
    color: #777777;
    margin: 0;
    font-size: 11px;
    text-align: center;
    width: 160px;
  }
}

@media only screen and (max-width: 600px) {
  body,
  header {
    width: auto;
  }

  nav {
    width: 500px;
  }

  .nav-container {
    flex-direction: column;
  }

  .nav-link-container {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-link {
    font-size: 11px;
  }

  button {
    width: 80px;
    height: 36px;
    border-radius: 7px;
    margin-right: 0;
  }

  button a {
    font-size: 13px;
  }

  .logo {
    height: 36px;
  }

  .hero-container {
    display: flex;
    margin: 50px auto;
    width: 500px;
  }

  .hero-left-element h1 {
    margin-top: 0;
    font-size: 30px;
    line-height: 1.2;
    width: 220px;
    margin-bottom: 0;
  }

  .hero-left-p {
    font-size: 9px;
  }

  .hero-button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    padding-bottom: 3px;
  }

  .hero-button img {
    height: 7px;
    margin-left: 3px;
  }

  .hero-button a {
    font-size: 10px;
  }

  .hero-right-element {
    margin: 10px 0 0 5px;
  }

  .hero-right-element .banner-img {
    width: 330px;
  }

  .rating-box {
    width: 120px;
    height: 45px;
    border-radius: 6px;
  }

  .rating-box img {
    width: 18px;
    margin: 10px 0 10px 10px;
  }

  .rating-box div {
    margin-left: 10px;
  }

  .rating-box .number {
    font-size: 13px;
    margin-top: 7px;
  }

  .rating-box .paragraph {
    font-size: 8px;
  }

  /* product section */
  #products {
    margin-top: 50px;
  }

  .product-title h2 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
  }

  .product-title p {
    margin: auto;
    font-size: 11px;
    text-align: center;
    width: 450px;
    color: #777777;
  }

  .products-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 260px;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      #f4f4f4 0%,
      rgba(244, 244, 244, 0) 100%
    );
  }

  .product-container:hover {
    box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }

  .product-container img {
    width: 80px;
  }

  .product-container h3 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .product-container p {
    color: #777777;
    margin: 0;
    font-size: 9px;
    text-align: center;
    width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  body,
  header {
    width: auto;
  }

  nav {
    width: 350px;
  }

  .nav-link {
    font-size: 13px;
  }

  button {
    width: 80px;
    height: 36px;
    border-radius: 7px;
  }

  button a {
    font-size: 15px;
  }

  .logo {
    height: 36px;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 400px;
  }

  .hero-left-element h1 {
    margin-top: 0;
    font-size: 40px;
    line-height: 1.2;
    width: 300px;
    margin-bottom: 0;
  }

  .hero-left-p {
    font-size: 12px;
  }

  .hero-button {
    margin-right: 50px;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    padding-bottom: 3px;
  }

  .hero-button img {
    height: 7px;
    margin-left: 3px;
  }

  .hero-button a {
    font-size: 10px;
  }

  .hero-right-element {
    margin: 50px 0 0 50px;
  }

  .hero-right-element .banner-img {
    width: 350px;
  }

  .rating-box {
    width: 130px;
    height: 50px;
    border-radius: 6px;
  }

  .rating-box img {
    width: 20px;
    margin: 10px 0 10px 10px;
  }

  .rating-box div {
    margin-left: 10px;
  }

  .rating-box .number {
    font-size: 14px;
    margin-top: 8px;
  }

  .rating-box .paragraph {
    font-size: 9px;
  }

  /* product section */

  .product-title p {
    width: 415px;
  }

  .products-container {
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .product-container {
    width: 180px;
    height: 340px;
    margin-bottom: 50px;
  }

  .product-container img {
    width: 100px;
  }

  .product-container h3 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .product-container p {
    font-size: 12px;
    width: 120px;
  }
}

@media only screen and (max-width: 320px) {
  body,
  header {
    width: auto;
  }

  nav {
    width: 250px;
  }

  .nav-link {
    font-size: 12px;
  }

  .nav-link-container {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  button {
    width: 80px;
    height: 36px;
    border-radius: 7px;
  }

  button a {
    font-size: 15px;
  }

  .logo {
    height: 36px;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 20px;
  }

  .hero-left-element h1 {
    margin-top: 0;
    font-size: 35px;
    line-height: 1.2;
    width: 270px;
    margin-bottom: 0;
  }

  .hero-left-p {
    font-size: 11px;
  }

  .hero-button {
    margin-right: 50px;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    padding-bottom: 3px;
  }

  .hero-button img {
    height: 7px;
    margin-left: 3px;
  }

  .hero-button a {
    font-size: 10px;
  }

  .hero-right-element {
    margin: 50px 0 0 25px;
  }

  .hero-right-element .banner-img {
    width: 300px;
  }

  .rating-box {
    width: 130px;
    height: 50px;
    border-radius: 6px;
  }

  .rating-box img {
    width: 20px;
    margin: 10px 0 10px 10px;
  }

  .rating-box div {
    margin-left: 10px;
  }

  .rating-box .number {
    font-size: 14px;
    margin-top: 8px;
  }

  .rating-box .paragraph {
    font-size: 9px;
  }

  /* product section */

  .product-title h2 {
    font-size: 23px;
  }

  .product-title p {
    width: 250px;
  }

  .products-container {
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .product-container {
    width: 180px;
    height: 340px;
    margin-bottom: 50px;
  }

  .product-container img {
    width: 100px;
  }

  .product-container h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 5px;
  }

  .product-container p {
    font-size: 10px;
    width: 120px;
  }
}
